{% extends "base.html" %}

{% block title %}Піца додана до кошика{% endblock %}

{% block content %}
<h2 id="confirmationMessage" class="mt-5"></h2>
<a href="/menu/" class="btn btn-outline-success mt-4">Повернутися до меню</a>
<a href="/cart/" class="btn btn-outline-primary mt-4">Перейти до кошика</a>

<script>
    let quantity = {{ quantity }};
    let pizza = "{{ pizza }}";

    if (quantity === 0) {
        document.getElementById("confirmationMessage").innerHTML =
            "Ви добавили 0 піц. Будь ласка, поверніться і виберіть піц більше 0.";
    } else {
        document.getElementById("confirmationMessage").innerHTML =
            "Ви додали " + quantity + " піцу(и) \"" + pizza + "\" до кошика!";
    }
</script>
{% endblock %}
