{% extends "base.html" %}

{% block title %}Підтвердження замовлення{% endblock %}

{% block custom_styles %}
body {
    background-color: #212529;
    color: white;
}
.table {
    background-color:rgb(255, 255, 255);
}
{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="mt-5">Ваше замовлення підтверджено!</h1>
    <h2 class="mt-4">Дані замовлення:</h2>
    <p>Ім'я: {{ name }}</p>
    <p>Електронна пошта: {{ email }}</p>
    <p>Телефон: {{ phone_prefix }} {{ phone }}</p>
    <p>Країна: {{ country }}</p>
    <p>Місто: {{ city }}</p>
    <p>Адреса доставки: {{ address }}</p>
    <h3 class="mt-4">Ваші піци:</h3>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Назва піци</th>
                <th>Кількість</th>
            </tr>
        </thead>
        <tbody>
            {% for pizza, quantity in cart.items() %}
                <tr>
                    <td>{{ pizza }}</td>
                    <td>{{ quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" class="btn btn-outline-warning mt-3">Повернутися на головну</a>
</div>
{% endblock %}
