{% extends "base.html" %}

{% block title %}PizzaMania - Меню{% endblock %}

{% block custom_styles %}
body {
    background-color: #212529;
    color: dark;
}
.pizza-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.pizza-info {
    flex: 1;
    padding: 10px;
    text-align: left;
}
{% endblock %}

{% block content %}
<h1 class="mt-5 mb-4 text-center">Меню Піцци</h1>
{% for pizza, details in pizzas.items() %}
<div class="pizza-container">
    <img src="/static/image/{{ pizza | replace(' ', '_') }}.jfif" height="200px" class="m-2">
    <div class="pizza-info">
        <h3>{{ pizza }}</h3>
        <p>Ціна: {{ details.price }} грн</p>
        <p>Інгредієнти: {{ details.ingredients }}</p>
        <form action="{{ url_for('add_to_cart') }}" method="POST" class="form-inline">
            <input type="hidden" name="pizza" value="{{ pizza }}">
            <input type="number" name="quantity" value="0" min="0" max="10" class="form-control w-25" required>
            <button type="submit" class="btn btn-outline-danger">Додати до кошика</button>
        </form>
    </div>
</div>
{% endfor %}
<a href="{{ url_for('index') }}" class="btn btn-outline-warning">Головна сторінка</a>
<a href="{{ url_for('cart') }}" class="btn btn-outline-warning">Перейти до кошика</a>
{% endblock %}
