{% extends "base.html" %}

{% block title %}Підтвердження замовлення{% endblock %}

{% block content %}
<h1 class="mt-5">Дякуємо за ваше замовлення!</h1>
<h2 class="mt-3">Деталі замовлення:</h2>
<table class="table table-dark mt-3">
    <thead>
        <tr>
            <th>Назва піци</th>
            <th>Кількість</th>
            <th>Ціна</th>
        </tr>
    </thead>
    <tbody>
        {% for pizza, quantity in order_summary.items() %}
            <tr>
                <td>{{ pizza }}</td>
                <td>{{ quantity }}</td>
                <td>{{ pizzas[pizza]['price'] * quantity }} грн</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><strong>Загальна вартість:</strong></td>
            <td><strong>{{ total_price }} грн</strong></td>
        </tr>
    </tbody>
</table>

<h3>Ваші дані:</h3>
<p>Ім'я: {{ order_details['name'] }}</p>
<p>Електронна пошта: {{ order_details['email'] }}</p>
<p>Адреса: {{ order_details['address'] }}</p>
<p>Телефон: {{ order_details['phone_prefix'] }}{{ order_details['phone'] }}</p>
<p>Країна: {{ order_details['country'] }}</p>
<p>Місто: {{ order_details['city'] }}</p>
<p>Код знижки: {{ discount_code }}</p>
{% if discount_code %}
    <p>Ваша знижка: {{ discount_amount }} грн</p>
    <p><strong>Сума з урахуванням знижки: {{ total_price - discount_amount }} грн</strong></p>
{% endif %}

<a href="{{ url_for('index') }}" class="btn btn-outline-warning mt-4">На головну</a>
<a href="/menu/" class="btn btn-outline-warning mt-4">В меню</a>
<a href="/post/" class="btn btn-outline-warning mt-4">Додати коментар</a>
{% endblock %}
